
@model PagedList.IPagedList<QuanLyCanTeen.Models.FOOD>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    ViewBag.Controller = "Food";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-7">
            @using (Html.BeginForm("Index", "FOODs", FormMethod.Get))
            {
                    <input class="form-control" type="text" value="@ViewBag.SearchString" name="searchString" placeholder="What you looking for..." aria-label="Search">
            }
        </div>
        <div class="col-md-5">
            <a class="btn btn-info" href="@Url.Action("Create","FOODs")">Create Food</a>
        </div>
    </div>
    <br />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FOOD_CODE)
                </center>
            </th> 
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FOOD_NAME)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PRICE)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IMAGE_URL)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().STATUS)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CATEGORY_ID)
                </center>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <center>
                        @item.FOOD_CODE
                    </center>
                </td>
                <td>
                    <center>
                        <a href="@Url.Action("Edit",new { id =  item.ID })" target="_blank">@item.FOOD_NAME</a> @*add a link edit when click food name*@
                    </center>
                </td>
                <td>
                    <center>
                        @(string.Format("{0:#,##0}", item.PRICE)) VND
                    </center>
                </td>
                <td>
                    <center>
                        <img src="@Url.Content("~/"+item.IMAGE_URL)" style="width:34px ; height:34px;" />
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.STATUS)
                    </center>
                </td>
                <td>
                    <center>
                        @item.CATEGORY.CATEGORY_CODE
                    </center>
                </td>
                <td>
                    <center>
                        <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", new { id = item.ID } )">Edit</a>
                        <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", new { id = item.ID })">Delete</a>
                        @*<button class="btn btn-danger btn-xs" onclick="test()" data-id="@item.IdSanPham">Hiện/Ẩn</button>*@
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))



