@model QuanLyCanTeen.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayoutPartial.cshtml";
}

<h3>Get more things done with Loggin platform.</h3>
<p>Access to the most powerfull tool in the entire design and web industry.</p>
<div class="page-links">
    <a href="@Url.Action("Login", "Account")">Login</a><a href="@Url.Action("Register", "Account")" class="active">Register</a>
</div>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    //<input class="form-control" type="text" name="name" placeholder="Full Name" required>
    <input class="form-control" type="email" name="Email" placeholder="E-mail Address" required>
    <input class="form-control" type="text" name="FULL_NAME" placeholder="Full Name" required>
    <input class="form-control" type="number" name="PhoneNumber" placeholder="Phone Number" required>
    <input class="form-control" type="password" name="Password" placeholder="Password" required>
    <input class="form-control" type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
    @Html.DropDownList("FACULTY_ID", null, htmlAttributes: new { @class = "form-control" })
    <div class="form-button">
        <button id="submit" type="submit" class="ibtn">Register</button>
    </div>
}

