@model QuanLyCanTeen.Areas.Admin.Data.LoginModel
src="~/Scripts
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iofrm</title>
    <link href="@Url.Content("~/Content/bootstrap.min(login).css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/fontawesome-all.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/iofrm-style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/iofrm-theme6.css")" rel="stylesheet" />
</head>
<body>
    <div class="form-body" class="container-fluid">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="@Url.Content("~/images/logo-light.svg")" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="@Url.Content("~/images/graphic2.svg")" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="login6.html" class="active">Login</a>
                        </div>
                        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <input class="form-control" type="text" name="Email" placeholder="E-mail Address" required>
                            @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                            <input class="form-control" type="password" name="Password" placeholder="Password" required>

                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/popper.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min(login).js")"></script>
</body>
</html>


