@*model IEnumerable<QuanLyCanTeen.Models.CUSTOMER>*@
@model PagedList.IPagedList<QuanLyCanTeen.Models.CUSTOMER>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-12">
    <div class="row">
        <div class="col-md-7">
            @using (Html.BeginForm("Index", "CUSTOMERs", FormMethod.Get))
            {
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control" type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Bạn tìm gì ..." aria-label="Search">
                    <div class="input-group-append">
                        <button class="input-group-text red lighten-3">
                            <span id="basic-text1">
                                <i class="fas fa-search text-grey"
                                   aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-5">
            <a class="btn btn-info" style="height:calc(2.25rem + 2px);" href="@Url.Action("Create","CUSTOMERs")">Thêm Loại Món Ăn</a>
        </div>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    EMAIL
                </th>
                <th>
                    PASSWORD
                </th>
                <th>
                    FULL NAME
                </th>
                <th>
                    PHONE NUMBER
                </th>
                <th>
                    STATUS
                </th>
                <th>
                    CUSTOMER TYPE
                </th>
                <th>
                    FACULTY CODE
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMAIL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PASSWORD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FULL_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PHONE_NUMBER)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CUSTOMER_TYPE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FACULTY.FACULTY_CODE)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
