@*model IEnumerable<QuanLyCanTeen.Models.CUSTOMER>*@
@model PagedList.IPagedList<QuanLyCanTeen.Models.CUSTOMER>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-12">
    <div class="row">
        <div class="col-md-7">
            @using (Html.BeginForm("Index", "CUSTOMERs", FormMethod.Get))
            {
                <input class="form-control" type="text" value="@ViewBag.SearchString" name="searchString" placeholder="What you looking for..." aria-label="Search">
            }
        </div>
        <div class="col-md-5">
            <a class="btn btn-info" href="@Url.Action("Create","CUSTOMERs")">Create Customer</a>
        </div>
    </div>
    <br />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().EMAIL)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PASSWORD)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FULL_NAME)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PHONE_NUMBER)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().STATUS)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CUSTOMER_TYPE)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FACULTY_ID)
                </center>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.EMAIL)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.PASSWORD)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.FULL_NAME)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.PHONE_NUMBER)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.STATUS)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.CUSTOMER_TYPE)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.FACULTY.FACULTY_CODE)
                    </center>
                </td>
                <td>
                    <center>
                        <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", new { id = item.ID } )">Edit</a>
                        <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", new { id = item.ID })">Delete</a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
