@*@@model IEnumerable<QuanLyCanTeen.Models.ACCOUNT>*@
@model PagedList.IPagedList<QuanLyCanTeen.Models.ACCOUNT>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    ViewBag.Controller = "ACCOUNTS";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-7">
            @using (Html.BeginForm("Index", "ACCOUNTS", FormMethod.Get))
            {
                <input class="form-control" type="text" value="@ViewBag.SearchString" name="searchString" placeholder="What you looking for..." aria-label="Search">
            }
        </div>
        <div class="col-md-5">
            <a class="btn btn-info" href="@Url.Action("Create","ACCOUNTS")">Create Account</a>
        </div>
    </div>
    <br />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().EMAIL)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PASSWORD)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FULL_NAME)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().STATUS)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ROLE)
                </center>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <center>
                        <a href="@Url.Action("Edit",new { id =  item.ID })" target="_blank">@item.EMAIL</a> 
                    </center>
                </td>
                <td>
                    <center>
                        @item.PASSWORD
                    </center>
                </td>
                <td>
                    <center>
                        @item.FULL_NAME
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.STATUS)
                    </center>
                </td>
                <td>
                    <center>
                        @item.ROLE
                    </center>
                </td>
                <td>
                    <center>
                        <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", new { id = item.ID } )">Edit</a>
                        <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", new { id = item.ID })">Xóa</a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
