@*model IEnumerable<QuanLyCanTeen.Models.ORDER>*@
@model PagedList.IPagedList<QuanLyCanTeen.Models.ORDER>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-12">
    <div class="row">
        <div class="col-md-7">
            @using (Html.BeginForm("Index", "ORDERs", FormMethod.Get))
            {
                <input class="form-control" type="text" value="@ViewBag.SearchString" name="searchString" placeholder="What you looking for..." aria-label="Search">
            }
        </div>
        <div class="col-md-5">
            <a class="btn btn-info" href="@Url.Action("Create","ORDERs")">Create Order</a>
        </div>
    </div>
    <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ORDER_CODE)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DATE)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().STATUS)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ACCOUNT.EMAIL)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().AspNetUser.Email)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FEEDBACK)
                </center>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.ORDER_CODE)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.DATE)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.STATUS)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.ACCOUNT.EMAIL)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.FEEDBACK)
                    </center>
                </td>
                <td>
                    <center>
                        <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", new { id = item.ID } )">Edit</a>
                        <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", new { id = item.ID })">Delete</a>
                    </center>
                </td>
            </tr>
        }

    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
