@*@model IEnumerable<QuanLyCanTeen.Models.CATEGORY>*@
@model PagedList.IPagedList<QuanLyCanTeen.Models.CATEGORY>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    ViewBag.Controller = "CATEGORY";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-7">
            @using (Html.BeginForm("Index", "CATEGORies", FormMethod.Get))
            {
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control" type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Bạn tìm gì ..." aria-label="Search">
                    <div class="input-group-append">
                        <button class="input-group-text red lighten-3">
                            <span id="basic-text1">
                                <i class="fas fa-search text-grey"
                                   aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-5">
            <a class="btn btn-info" style="height:calc(2.25rem + 2px);" href="@Url.Action("Create","CATEGORies")">Thêm Loại Món Ăn</a>
        </div>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <center>
                        <span>
                            CATEGORY_CODE
                        </span>
                    </center>
                </th>
                <th>
                    <center>
                        <span>
                            CATEGORY_NAME
                        </span>
                    </center>
                </th>
                <th>
                    <center>
                        <span>
                            IMAGE_URL
                        </span>
                    </center>
                </th>
                <th>
                    <center>
                        <span>
                            STATUS
                        </span>
                    </center>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <center>
                            @item.CATEGORY_CODE
                        </center>
                    </td>
                    <td>
                        <center>
                            <a href="@Url.Action("Edit",new { id =  item.ID })" target="_blank">@item.CATEGORY_NAME</a> @*add a link edit when click food name*@
                        </center>
                    </td>
                    <td>
                        <center>
                            <img src="@Url.Content("~/"+item.IMAGE_URL)" style="width:34px ; height:34px;" />
                        </center>
                    </td>
                    <td>
                        <center>
                            @Html.DisplayFor(modelItem => item.STATUS)
                        </center>
                    </td>
                    <td>
                        <center>
                            <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", new { id = item.ID } )">Edit</a>
                            <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", new { id = item.ID })">Xóa</a>
                            @*<button class="btn btn-danger btn-xs" onclick="test()" data-id="@item.IdSanPham">Hiện/Ẩn</button>*@
                        </center>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))